---
import Hero from '../sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
import LineaProductos from '../sections/LineaProductos.astro';
import About from '../sections/About.astro';
---

<Layout>
	<main class="flex-1">
		<Hero/>
		<LineaProductos/>  <!-- Aquí -->
		<About/>
	</main>
</Layout>
